<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Anushka Kulkarni - Portfolio</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore et dolore magna aliqua enim ad minim veniam quis.">


    <meta name="author" content="">



    <link rel="stylesheet" href="/static/assets/plugins/bootstrap/bootstrap.min.css">

    <link rel="stylesheet" href="/static/assets/plugins/themify/css/themify-icons.css">

    <link rel="stylesheet" href="/static/assets/plugins/magnific-popup/magnific-popup.css">

    <link rel="stylesheet" href="/static/assets/plugins/slick-carousel/slick/slick.css">

    <link href="/static/assets/scss/style.css" rel="stylesheet">

    <!--Favicon-->
<!--    <link rel="shortcut icon" href="/static/assets/images/favicon.png " type="image/x-icon">-->
<!--    <link rel="icon" href="/static/assets/images/favicon.png " type="image/x-icon">-->

</head>

<body data-spy="scroll" data-target="#ftco-navbar-spy" data-offset="0" class="">

    <nav class="navbar navbar-expand-lg fixed-top main-nav" id="main-nav">
        <div class="container">
            <a class="navbar-brand" href="/">
			Portfolio
		</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="fa fa-bars"></span>
		</button>
            <div class="collapse navbar-collapse" id="navigation">
                <ul class="navbar-nav ml-auto text-center">







                    <li class="nav-item  dropdown ">
                        <a class="nav-link" data-toggle="dropdown" href="/static/">Home<i
        class="ti-angle-down ml-2"></i></a>

                        <ul class="sub-menu dropdown-menu">

                            <li><a class="dropdown-item" href="/static/index.html">Home</a></li>

                            <li><a class="dropdown-item" href="/static/index-2.html">Home 2</a></li>

                            <li><a class="dropdown-item" href="/static/index-3.html">Home 3</a></li>

                            <li><a class="dropdown-item" href="/static/index-4.html">Home 4</a></li>

                        </ul>

                    </li>







                    <li class="nav-item  dropdown ">
                        <a class="nav-link" data-toggle="dropdown" href="/static/">About<i
        class="ti-angle-down ml-2"></i></a>

                        <ul class="sub-menu dropdown-menu">

                            <li><a class="dropdown-item" href="/static/about.html">About</a></li>

                            <li><a class="dropdown-item" href="/static/about-me.html">About Me</a></li>

                        </ul>

                    </li>







                    <li class="nav-item ">
                        <a class="nav-link" href="/static/blog-1.html">Blog</a>

                    </li>







                    <li class="nav-item  dropdown ">
                        <a class="nav-link" data-toggle="dropdown" href="/static/">Pages<i
        class="ti-angle-down ml-2"></i></a>

                        <ul class="sub-menu dropdown-menu">

                            <li><a class="dropdown-item" href="/static/services.html">Services</a></li>

                            <li><a class="dropdown-item" href="/static/portfolio-1.html">Portfolio One</a></li>

                            <li><a class="dropdown-item" href="/static/portfolio-2.html">Portfolio Two</a></li>

                            <li><a class="dropdown-item" href="/static/404">404</a></li>

                        </ul>

                    </li>







                    <li class="nav-item ">
                        <a class="nav-link" href="/static/contact.html">Contact</a>

                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- Slider Start -->

    <section class="banner-2 position-relative bg-blue">
        <img src="/static/assets/images/bg/banner-2.png" alt="" class="overlay-shape">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-7">
                    <div class="banner-content-2">
                        <span class="h5 text-uppercase text-yello">MY NAME IS Anushka Kulkarni</span>
                        <h2 class="text-white mt-2">I am from BNCA college of Architecture</h2>
                        <p class="my-4">As a final year design architecture student, I craft sustainable and inspiring built environments with precision and passion.</p>

                        <a href="/static/contact" class="btn btn-primary">contact me</a>

                    </div>
                </div>

                <div class="col-lg-6 col-md-5 align-self-end">
                    <img src="/static/assets/images/banner/anushkaPhoto.png" alt="" class="img-fluid position-absolute-">
                </div>
            </div>
        </div>
    </section>
    <!-- Slider End -->
    <!-- Service Start -->
    <section class="service-2">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-4 col-md-6 border-right">
                    <div class="service-item mb-4 mb-lg-0 text-center px-4">
                        <i class="ti-ruler-pencil text-color icon-md"></i>
                        <h4 class="my-4">Brand Design</h4>
                        <p>I approach brand design with enthusiasm and creativity, blending passion with a good sense of humor, while maintaining reliability and a serious work ethic.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 border-right">
                    <div class="service-item mb-4 mb-lg-0 text-center px-4">
                        <i class="ti-announcement text-color icon-md"></i>
                        <h4 class="my-4">Sketching</h4>
                        <p>Enthusiastic and reliable, I bring a creative touch to Sketching, blending passion with a serious work ethic and an easy-going demeanor.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 ">
                    <div class="service-item mb-4 mb-lg-0 text-center px-4">
                        <i class="ti-palette text-color icon-md"></i>
                        <h4 class="my-4">Creative Design</h4>
                        <p>Lorem ipsum dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore et dolore magna.</p>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </section>
    <!-- Service End -->
    <!-- PortfoliO Start -->
    <section class="pt200 section portfolio-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <span class="h5 text-color text-uppercase">
          my works
        </span>
                    <h3 class="mb-4 mt-2">A collection of some recently completed projects, covering a wide range of design disciplines
                    </h3>
                </div>
            </div>

            <div class="d-flex flex-wrap align-items-center justify-content-between mb-5">
                <div class="btn-group btn-group-toggle " data-toggle="buttons">

                    <label class="btn border-0 active">
          <input type="radio" name="shuffle-filter" value="all" checked="checked" />All Projects
        </label>


                    <label class="btn border-0">
          <input type="radio" name="shuffle-filter"
            value="branding" />Branding
        </label>

                    <label class="btn border-0">
          <input type="radio" name="shuffle-filter"
            value="design" />Design
        </label>

                    <label class="btn border-0">
          <input type="radio" name="shuffle-filter"
            value="web-development" />Web Development
        </label>

                    <label class="btn border-0">
          <input type="radio" name="shuffle-filter"
            value="photography" />Photography
        </label>

                </div>
                <a href="portfolio-2.html" class="btn btn-outline-primary">All work</a>
            </div>

            <div class="row shuffle-wrapper portfolio-gallery">

                <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[ &quot;branding&quot;  ]">
                    <div class="position-relative inner-box">
                        <div class="image position-relative ">
                            <img src="/static/assets/images/portfolio/p-3.jpg" alt="portfolio-image" class="img-fluid w-100 d-block" />
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <a class="overlay-content text-center" href="/static/portfolios/branding_01">
                                        <h5 class="mb-0 text-white">New Branding</h5>
                                        <p> Branding </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[ &quot;branding&quot;  ]">
                    <div class="position-relative inner-box">
                        <div class="image position-relative ">
                            <img src="/static/assets/images/portfolio/p-4.jpg" alt="portfolio-image" class="img-fluid w-100 d-block" />
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <a class="overlay-content text-center" href="/static/portfolios/branding_02">
                                        <h5 class="mb-0 text-white">Branding Special</h5>
                                        <p> Branding </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[ &quot;design&quot;  ]">
                    <div class="position-relative inner-box">
                        <div class="image position-relative ">
                            <img src="/static/assets/images/portfolio/p-5.jpg" alt="portfolio-image" class="img-fluid w-100 d-block" />
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <a class="overlay-content text-center" href="/static/portfolios/design_01">
                                        <h5 class="mb-0 text-white">Paintaining</h5>
                                        <p> Design </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[ &quot;design&quot;  ]">
                    <div class="position-relative inner-box">
                        <div class="image position-relative ">
                            <img src="/static/assets/images/portfolio/p-6.jpg" alt="portfolio-image" class="img-fluid w-100 d-block" />
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <a class="overlay-content text-center" href="/static/portfolios/design_02">
                                        <h5 class="mb-0 text-white">Designing</h5>
                                        <p> Design </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[ &quot;design&quot;  ]">
                    <div class="position-relative inner-box">
                        <div class="image position-relative ">
                            <img src="/static/assets/images/portfolio/p-6.jpg" alt="portfolio-image" class="img-fluid w-100 d-block" />
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <a class="overlay-content text-center" href="/static/portfolios/design_03">
                                        <h5 class="mb-0 text-white">Paintaining</h5>
                                        <p> Design </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[ &quot;web-development&quot;  ]">
                    <div class="position-relative inner-box">
                        <div class="image position-relative ">
                            <img src="/static/assets/images/portfolio/p-2.jpg" alt="portfolio-image" class="img-fluid w-100 d-block" />
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <a class="overlay-content text-center" href="/static/portfolios/photography_01">
                                        <h5 class="mb-0 text-white">Photography</h5>
                                        <p> Web Development </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[ &quot;photography&quot;  ]">
                    <div class="position-relative inner-box">
                        <div class="image position-relative ">
                            <img src="/static/assets/images/portfolio/p-5.jpg" alt="portfolio-image" class="img-fluid w-100 d-block" />
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <a class="overlay-content text-center" href="/static/portfolios/photography_02">
                                        <h5 class="mb-0 text-white">Drawing</h5>
                                        <p> Photography </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[ &quot;photography&quot;  ]">
                    <div class="position-relative inner-box">
                        <div class="image position-relative ">
                            <img src="/static/assets/images/portfolio/p-3.jpg" alt="portfolio-image" class="img-fluid w-100 d-block" />
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <a class="overlay-content text-center" href="/static/portfolios/photography_03">
                                        <h5 class="mb-0 text-white">Paintaining</h5>
                                        <p> Photography </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[ &quot;web-development&quot;  ]">
                    <div class="position-relative inner-box">
                        <div class="image position-relative ">
                            <img src="/static/assets/images/portfolio/p-2.jpg" alt="portfolio-image" class="img-fluid w-100 d-block" />
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <a class="overlay-content text-center" href="/static/portfolios/web_development_01">
                                        <h5 class="mb-0 text-white">Development</h5>
                                        <p> Web Development </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Portfolio End -->
    <!-- Testimonial Start -->


    <section class="section bg-secondary position-relative">
        <img src="/static/assets/images/bg/testimonial-bg.png" alt="" class="overlay-shape">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span class="h5 text-color text-uppercase">
					testimonials
				</span>
                    <h3 class="mb-4 mt-2 text-white">clients feedback</h3>
                </div>
            </div>

            <div class="row testimonial-wrap">

                <div class="col-lg-12 ">
                    <div class="test-wrap ">
                        <i class="text-color ti-quote-left"></i>
                        <div class="testimonial-content">
                            <div class="text-white content">
                                <p>Lorem ipsum dolor amet constur adipisicing elit sed eiusmtempor incid dolore magna aliqu. enim minim veniam.quis nos trud exercittion ullam laboris nisi ut aliquip excepteur. sint occaecat cuida tat nonproident sunt in
                                    culpa qui officia deserunt mollit anim est laborum. sed ut perspiciatis.</p>
                            </div>
                            <div class="test-author d-flex mt-4">
                                <div>
                                    <img src="/static/assets/images/team/test-1.jpg" alt="" class="img-fluid mr-3">
                                </div>
                                <div>
                                    <h5 class="mb-0 mt-2 text-white">Liam Hughes</h5>
                                    <span class="text-color">Manager</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 ">
                    <div class="test-wrap ">
                        <i class="text-color ti-quote-left"></i>
                        <div class="testimonial-content">
                            <div class="text-white content">
                                <p>Lorem ipsum dolor amet constur adipisicing elit sed eiusmtempor incid dolore magna aliqu. enim minim veniam.quis nos trud exercittion ullam laboris nisi ut aliquip excepteur. sint occaecat cuida tat nonproident sunt in
                                    culpa qui officia deserunt mollit anim est laborum. sed ut perspiciatis.</p>
                            </div>
                            <div class="test-author d-flex mt-4">
                                <div>
                                    <img src="/static/assets/images/team/test-2.jpg" alt="" class="img-fluid mr-3">
                                </div>
                                <div>
                                    <h5 class="mb-0 mt-2 text-white">Jane Austin</h5>
                                    <span class="text-color">Designer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 ">
                    <div class="test-wrap ">
                        <i class="text-color ti-quote-left"></i>
                        <div class="testimonial-content">
                            <div class="text-white content">
                                <p>Lorem ipsum dolor amet constur adipisicing elit sed eiusmtempor incid dolore magna aliqu. enim minim veniam.quis nos trud exercittion ullam laboris nisi ut aliquip excepteur. sint occaecat cuida tat nonproident sunt in
                                    culpa qui officia deserunt mollit anim est laborum. sed ut perspiciatis.</p>
                            </div>
                            <div class="test-author d-flex mt-4">
                                <div>
                                    <img src="/static/assets/images/team/test-3.jpg" alt="" class="img-fluid mr-3">
                                </div>
                                <div>
                                    <h5 class="mb-0 mt-2 text-white">Liolane hussy</h5>
                                    <span class="text-color">Developer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Testimonial End -->

    <!-- Counter Start -->


    <!-- Blog Start -->
    <section class="section latest-blog position-relative overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <span class="h5 text-color text-uppercase">
					latest article
				</span>
                    <h3 class="mb-5 mt-2">Stay Update with dizer.</h3>
                </div>
            </div>
            <div class="row justify-content-center">

                <div class="col-lg-4 col-md-6  mb-4 mb-lg-0">

                    <div class="blog-img position-relative">
                        <a href="/static/premium-jekyll-and-ghost-theme.html"><img src="/static/assets/images/blog/blog-1.jpg" alt="Premium Jekyll And Ghost Themes" class="img-fluid w-100"></a>

                        <a class="blog-category" href="/tag/development">development</a>

                    </div>

                    <a href="/static/premium-jekyll-and-ghost-theme.html">
                        <h4 class="mt-4 mb-2">Premium Jekyll And Ghost Themes</h4>
                    </a>
                    <div class="post-meta text-uppercase mb-3">

                        <span class="text-color">by Themefisher</span>


                        <span class="text-color">/ 02 January 2020</span>

                    </div>
                    <p>11 time-saving pro tips for web designers working in Webflow11 time-saving pro tips for web designers working in Webflow Consectetuer...</p>
                </div>

                <div class="col-lg-4 col-md-6  mb-4 mb-lg-0">

                    <div class="blog-img position-relative">
                        <a href="/static/free-wordpress-and-html-themes.html"><img src="/static/assets/images/blog/blog-2.jpg" alt="Free WordPress And HTML themes" class="img-fluid w-100"></a>

                        <a class="blog-category" href="/tag/development">development</a>

                    </div>

                    <a href="/static/free-wordpress-and-html-themes.html">
                        <h4 class="mt-4 mb-2">Free WordPress And HTML themes</h4>
                    </a>
                    <div class="post-meta text-uppercase mb-3">

                        <span class="text-color">by Themefisher</span>


                        <span class="text-color">/ 01 January 2020</span>

                    </div>
                    <p>11 time-saving pro tips for web designers working in Webflow11 time-saving pro tips for web designers working in Webflow Consectetuer...</p>
                </div>

                <div class="col-lg-4 col-md-6  mb-4 mb-lg-0">

                    <div class="blog-img position-relative">
                        <a href="/static/ingredient-cilantro-vinaigrette.html"><img src="/static/assets/images/blog/blog-3.jpg" alt="5 ingredient cilantro vinaigrette" class="img-fluid w-100"></a>

                        <a class="blog-category" href="/tag/design">design</a>

                    </div>

                    <a href="/static/ingredient-cilantro-vinaigrette.html">
                        <h4 class="mt-4 mb-2">5 ingredient cilantro vinaigrette</h4>
                    </a>
                    <div class="post-meta text-uppercase mb-3">

                        <span class="text-color">by Themefisher</span>


                        <span class="text-color">/ 14 December 2019</span>

                    </div>
                    <p>11 time-saving pro tips for web designers working in Webflow11 time-saving pro tips for web designers working in Webflow Consectetuer...</p>
                </div>

            </div>
        </div>
    </section>
    <!-- Blog End -->
    <!-- Contact Start -->
    <section class="section home-contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <span class="h5 text-color text-uppercase">
					Contact me
				</span>
                    <h3 class="mb-5 mt-2">Let’s Create <br>Something Big</h3>

                    <form action="#" class="home-contact-form">
                        <div class="form-row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Last Name">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Email Address">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Phone Number">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <textarea name="msg" id="msg" cols="30" rows="4" class="form-control mb-4" placeholder="Message"></textarea>

                                <button type="submit" class="btn btn-primary">Get a quote</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact End -->
    <!-- Footer section start -->
    <footer class="section bg-secondary position-relative pb-0">
        <img src="/static/assets/images/bg/footer-bg.png" alt="" class="overlay-shape">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget  mb-5 mb-lg-0">
                        <h4 class="font-weight-bold text-white mb-3">About Us</h4>
                        <p>Lorem ipsum dolor amet consectetur adipielit sed eiusm tempor incididunt ut labore dolore magna aliqua enim ad minim veniam.</p>


                        <ul class="list-inline socials-links">

                            <li class="list-inline-item mb-2">
                                <a target="_blank" href="#" class="active"><i class="ti-facebook"></i></a>
                            </li>

                            <li class="list-inline-item mb-2">
                                <a target="_blank" href="#" class="active"><i class="ti-twitter-alt"></i></a>
                            </li>

                            <li class="list-inline-item mb-2">
                                <a target="_blank" href="#" class="active"><i class="ti-linkedin"></i></a>
                            </li>

                            <li class="list-inline-item mb-2">
                                <a target="_blank" href="#" class="active"><i class="ti-pinterest"></i></a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 ml-lg-auto mb-5 mb-lg-0 col-md-6">
                    <div class="footer-widget">
                        <h4 class="text-white mb-3">Navigation</h4>

                        <ul class="list-unstyled lh-38">

                            <li><a href="">Services</a></li>

                            <li><a href="">Portfolio One</a></li>

                            <li><a href="">Portfolio Two</a></li>

                            <li><a href="">Single Portfolio</a></li>

                            <li><a href="">Contact</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="footer-widget  mb-5 mb-lg-0">
                        <h4 class="text-white mb-3">Services</h4>
                        <ul class="list-unstyled lh-38">
                            <li><a href="#">Brand Design</a></li>
                            <li><a href="#">seo & marketing</a></li>
                            <li><a href="#">creative design</a></li>
                            <li><a href="#">photography</a></li>
                            <li><a href="#">print design</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h4 class="text-white mb-3">Contact Info</h4>
                        <ul class="list-unstyled lh-38">
                            <li>9567 Turner Trace Apt. 466 North Willie, BC C3G8A4</li>
                            <li><a href="tel:+21 123 456 5523">+21 123 456 5523</a></li>
                            <li><a href="mailto:themefisher@gmail.com">themefisher@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-btm ">
            <div class="container border-top py-4 mt-5">
                <div class="row align-items-center justify-content-md-between">
                    <div class="col-12 col-lg-4">
                        <div class="text-center text-lg-left "> <span>dizer. &copy; 2020 All Right Reserved</span></div>
                    </div>
                    <div class="col-lg-4 text-center col-12">
                        <a href="/static">
						<img src="/static/assets/images/logo.png" alt="Dizer -  Multipurpose Business & Corporate Jekyll Template" class="img-fluid">
					</a>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="text-center text-lg-right">

                            <a href="/static/">Terms of Service  <span class="mx-2">|</span> </a>

                            <a href="/static/">Privacy Policy </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnh74UN6BKgq9U5fMNGhdZOSpmM_QnZqs"></script>

    <!-- JS Plugins -->

    <script src="/static/assets/plugins/jQuery/jquery.min.js"></script>

    <script src="/static/assets/plugins/bootstrap/bootstrap.min.js"></script>

    <script src="/static/assets/plugins/slick-carousel/slick/slick.min.js"></script>

    <script src="/static/assets/plugins/shuffle/shuffle.min.js"></script>

    <script src="/static/assets/plugins/magnific-popup/magnific-popup.min.js"></script>

    <script src="/static/assets/plugins/google-map/gmap.js"></script>

    <script src="/static/assets/plugins/search/search.min.js"></script>


    <!-- Main Script -->
    <script src="/static/assets/js/script.js"></script>

</body>

</html>